body {
    overflow: visible !important;
    background: -webkit-linear-gradient(45deg, #085078 10%, #85d8ce 90%);
    height: 720px
}



.rezultatas {
    background-color: white;
    width: 200px;
    height: 100px;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    padding-top: 15px;
}

#button {
    background-color: #97dbd3;
    border-radius: 10px;
}